<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

 <!-- 	<bean id="userDao" class="com.wu.dao.impl.UserDaoImpl" >
 		<property name="jdbcTemplate" ref="jdbcTemplate" />
 	</bean>
 	<bean id="projectDao" class="com.wu.dao.impl.ProjectDaoImpl" >
 		<property name="jdbcTemplate" ref="jdbcTemplate" />
 	</bean>
 	
 	<bean id="userService" class="com.wu.service.impl.UserServiceImpl" >
 		<property name="userDao" ref="userDao" />
 	</bean>
 	<bean id="projectService" class="com.wu.service.impl.ProjectServiceImpl" >
 		<property name="projectDao" ref="projectDao" />
 	</bean>
 
 	<bean id="facade" class="com.wu.facade.impl.FacedeImpl" >
 		<property name="userService" ref="userService" />
 		<property name="projectService" ref="projectService" />
 	</bean> -->
 
 	<bean id="classA" class="beans.ClassA">
      <property name="resource">
         <value>classpath:spring/beans.xml</value>
      </property> 
   </bean>  
 </beans>
